/****************************************************/
/*　             ピースのベーススタイル               */
/****************************************************/
td {
  width: var(--piece-size, 70px);
  height: var(--piece-size, 70px);
  border: 0px solid #ccc;
  padding: 0;
}
.piece {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative; /* アニメーションのために必要なプロパティ */
  background-size: contain; /* 画像をコンテナ内に収める */
  background-position: center; /* 背景画像を中央に配置 */
}
.piece-shadow {
  width: 100%;
  height: 100%;
  position: relative;
}


/****************************************************/
/*　             基本ピースの形とカラー　              */
/****************************************************/
.red{
  background-image: url('./assets/images/pieces/red.png');
} 

.yellow {
  background-image: url('./assets/images/pieces/yellow.png');
} 

.blue {
  background-image: url('./assets/images/pieces/blue.png');
} 

.green {
  background-image: url('./assets/images/pieces/green.png');
} 

.purple {
  background-image: url('./assets/images/pieces/purple.png');
}


/****************************************************/
/*　            ピース削除アニメーション               */
/****************************************************/
.scale-out {
  animation-name: scaleOut;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes scaleOut {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  40% {
    transform: scale(1.3, 1.3);
    opacity: 0.2;
  }  100% {
    transform: scale(1.6, 1.6);
    opacity: 0;
  }
}

/* Mix用 暫定*/
.dot {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  left: 35px ;
  top: -40px;
  box-shadow: none;
  filter: none;
}

/****************************************************/
/*　       特殊ピーススタイル。ベースの形とか          */
/****************************************************/
.piece.special {
  background-size: cover;
}
.piece.special.verticalStripe {
  background-image: url('./assets/images/special/stripe_v.png');
}
.piece.special.horizontalStripe {
  background-image: url('./assets/images/special/stripe_h.png');
}
.piece.special.bomb {
  background-image: url('./assets/images/special/bomb.png');
}

.piece.special.waitingBomb {
  position: relative;
}
.piece.special.waitingBomb::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/images/special/bomb.png');
  background-size: cover;
  animation: waiting-bomb 1s linear infinite;
}
@keyframes waiting-bomb {
  0%, 100% { 
    opacity: 0.7; 
    transform: scale(0.9);
  }
  50% { 
    opacity: 0.1;
    transform: scale(1.1);
  }
}

.piece.special.waitingDoubleBomb {
  position: relative;
}
.piece.special.waitingDoubleBomb::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/images/special/bomb.png');
  background-size: cover;
  animation: waiting-double-bomb 1s linear infinite;
}
@keyframes waiting-double-bomb {
  0%, 100% { 
    opacity: 0.7; 
    transform: scale(0.7);
  }
  50% { 
    opacity: 0.1;
    transform: scale(2);
  }
}


/****************************************************/
/*　          特殊ピース発動アニメーション             */
/****************************************************/
.bomb-animation {
  animation: rotation 0.5s linear forwards;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(720deg) scale(4);
    opacity: 0;
  }
}

.doubleBomb-animation {
  animation: doublerotation 0.5s linear forwards;
  background-image: url('./assets/images/special/bomb.png');
  background-size: var(--piece-size, 70px) var(--piece-size, 70px);
}
@keyframes doublerotation {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    transform: rotate(720deg) scale(6);
    opacity: 0;
  }
}

.horizontal-stripe-animation {
  animation: shock-horizontal 0.5s linear forwards;
}

.vertical-stripe-animation {
  animation: shock-vertical 0.5s linear forwards;
}

@keyframes shock-vertical {
  0% {
    transform: scaleX(0.8) scaleY(1.25);
    opacity: 1;
  }
  5% {
    transform: scaleX(1) scaleY(1);
    opacity: 1;
  }
  10% {
    transform: scaleX(0.8) scaleY(1.25);
    opacity: 1;
  }
  15% {
    transform: scaleX(1) scaleY(1);
    opacity: 1;
  }
  20% {
    transform: scaleX(0.8) scaleY(1.25);
    opacity: 1;
  }
  25% {
    transform: scaleX(0.8) scaleY(1.25);
    opacity: 1;
  }
  50% {
    transform: scaleX(15) scaleY(1.25);
    opacity: 0.4;
  }
  100% {
    transform: scaleX(30) scaleY(3);
    opacity: 0;
  }
}

@keyframes shock-horizontal {
  0% {
    transform: scaleX(1.25) scaleY(0.8);
    opacity: 1;
  }
  5% {
    transform: scaleX(1) scaleY(1);
    opacity: 1;
  }
  10% {
    transform: scaleX(1.25) scaleY(0.8);
    opacity: 1;
  }
  15% {
    transform: scaleX(1) scaleY(1);
    opacity: 1;
  }
  20% {
    transform: scaleX(1.25) scaleY(0.8);
    opacity: 1;
  }
  25% {
    transform: scaleX(1.25) scaleY(0.8);
    opacity: 1;
  }
  50% {
    transform: scaleX(2) scaleY(15);
    opacity: 0.3;
  }
  100% {
    transform: scaleX(3) scaleY(30);
    opacity: 0;
  }
}

.cross-stripe-animation {
  /* animation: cross 1s forwards; */
  animation: stretchCross 0.5s linear forwards;
  clip-path: polygon(46.00% 0.00%,54.00% 0.00%,54.00% 46.00%,100.00% 46.00%,100.00% 54.00%,54.00% 54.00%,54.00% 100.00%,46.00% 100.00%,46.00% 54.00%,0.00% 54.00%,0.00% 46.00%,46.00% 46.00%);
}
@keyframes stretchCross {
    0% {
        transform: scaleX(1) scaleY(1);
        opacity: 0.9;
    }
    50% {
      transform: scaleX(20) scaleY(20);
      opacity: 0.2;
  }
    100% {
        transform: scaleX(30) scaleY(30);
        opacity: 0;
    }
  }


.verticalBomb-animation {
  animation: shock-vertical2 0.5s linear forwards;
  background-image: url('./assets/images/special/stripe_v.png');
  background-size: var(--piece-size, 70px) var(--piece-size, 70px);
}
@keyframes shock-vertical2 {
    0% {
      transform: scaleX(1) scaleY(3.5);
      opacity: 1;
    }
    25% {
      transform: scaleX(6) scaleY(4);
      opacity: 0.6;
    }
    50% {
      transform: scaleX(15) scaleY(4.5);
      opacity: 0.3;
    }
    100% {
      transform: scaleX(30) scaleY(6);
      opacity: 0;
    }
  }

  .horizontalBomb-animation {
    animation: shock-horizontal2 0.5s linear forwards;
    background-image: url('./assets/images/special/stripe_h.png');
    background-size: var(--piece-size, 70px) var(--piece-size, 70px);
  }
  @keyframes shock-horizontal2 {
    0% {
      transform: scaleX(3.5) scaleY(1);
      opacity: 1;
    }
    25% {
      transform: scaleX(4) scaleY(6);
      opacity: 0.6;
    }
    50% {
      transform: scaleX(4.5) scaleY(15);
      opacity: 0.3;
    }
    100% {
      transform: scaleX(6) scaleY(30);
      opacity: 0;
    }
  }